<div>
    <h2 id="page-heading">
        <span>Cook Books</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cook-book" [routerLink]="['/cook-book/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Cook Book
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cookBooks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>User Details</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cookBook of cookBooks ;trackBy: trackId">
                <td><a [routerLink]="['/cook-book', cookBook.id, 'view' ]">{{cookBook.id}}</a></td>
                <td>{{cookBook.name}}</td>
                <td>{{cookBook.description}}</td>
                <td>
                    <div *ngIf="cookBook.userDetails">
                        <a [routerLink]="['../user-details', cookBook.userDetails?.id, 'view' ]" >{{cookBook.userDetails?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cook-book', cookBook.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cook-book', cookBook.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cook-book/'+ cookBook.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
