<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cook-book-heading">Create or edit a Cook Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cookBook.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cookBook.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="cookBook.name" required minlength="3"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.minlength">
                        This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="cookBook.description" />
                </div>

                <div class="form-group">
                    <label for="field_allRecipes">All Recipes</label>
                    <select class="form-control" id="field_allRecipes" multiple name="allRecipes" [(ngModel)]="cookBook.allRecipes">
                        <option [ngValue]="getSelected(cookBook.allRecipes, recipeOption)" *ngFor="let recipeOption of recipes; trackBy: trackRecipeById">{{recipeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_translatedRecipes">Translated Recipes</label>
                    <select class="form-control" id="field_translatedRecipes" multiple name="translatedRecipes" [(ngModel)]="cookBook.translatedRecipes">
                        <option [ngValue]="getSelected(cookBook.translatedRecipes, translatedRecipeOption)" *ngFor="let translatedRecipeOption of translatedrecipes; trackBy: trackTranslatedRecipeById">{{translatedRecipeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userDetails">User Details</label>
                    <select class="form-control" id="field_userDetails" name="userDetails" [(ngModel)]="cookBook.userDetails" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userDetailsOption.id === cookBook.userDetails?.id ? cookBook.userDetails : userDetailsOption" *ngFor="let userDetailsOption of userdetails; trackBy: trackUserDetailsById">{{userDetailsOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
