<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="translatedRecipe">
            <h2><span>Translated Recipe</span> {{translatedRecipe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Serving Size</span></dt>
                <dd>
                    <span>{{translatedRecipe.servingSize}}</span>
                </dd>
                <dt><span>Instructions</span></dt>
                <dd>
                    <span>{{translatedRecipe.instructions}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{translatedRecipe.language}}</span>
                </dd>
                <dt><span>Recipe</span></dt>
                <dd>
                    <div *ngIf="translatedRecipe.recipe">
                        <a [routerLink]="['/recipe', translatedRecipe.recipe?.id, 'view']">{{translatedRecipe.recipe?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/translated-recipe', translatedRecipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
