<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-translated-recipe-heading">Create or edit a Translated Recipe</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!translatedRecipe.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="translatedRecipe.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_servingSize">Serving Size</label>
                    <input type="number" class="form-control" name="servingSize" id="field_servingSize"
                        [(ngModel)]="translatedRecipe.servingSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="translatedRecipe.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_instructions">Instructions</label>
                    <input type="text" class="form-control" name="instructions" id="field_instructions"
                        [(ngModel)]="translatedRecipe.instructions" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_language">Language</label>
                    <select class="form-control" name="language" [(ngModel)]="translatedRecipe.language" id="field_language"  required>
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="SPANISH">SPANISH</option>
                        <option value="FRENCH">FRENCH</option>
                        <option value="CHINESE">CHINESE</option>
                    </select>
                    <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.language?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_recipe">Recipe</label>
                    <select class="form-control" id="field_recipe" name="recipe" [(ngModel)]="translatedRecipe.recipe" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="recipeOption.id === translatedRecipe.recipe?.id ? translatedRecipe.recipe : recipeOption" *ngFor="let recipeOption of recipes; trackBy: trackRecipeById">{{recipeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
