<div>
    <h2 id="page-heading">
        <span>Translated Recipes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-translated-recipe" [routerLink]="['/translated-recipe/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Translated Recipe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="translatedRecipes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Serving Size</span></th>
            <th><span>Instructions</span></th>
            <th><span>Language</span></th>
            <th><span>Recipe</span></th>
            <th><span>Translated Recipes</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let translatedRecipe of translatedRecipes ;trackBy: trackId">
                <td><a [routerLink]="['/translated-recipe', translatedRecipe.id, 'view' ]">{{translatedRecipe.id}}</a></td>
                <td>{{translatedRecipe.servingSize}}</td>
                <td>{{translatedRecipe.instructions}}</td>
                <td>{{translatedRecipe.language}}</td>
                <td>
                    <div *ngIf="translatedRecipe.recipe">
                        <a [routerLink]="['../recipe', translatedRecipe.recipe?.id, 'view' ]" >{{translatedRecipe.recipe?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="translatedRecipe.translatedRecipes">
                        <a [routerLink]="['../cook-book', translatedRecipe.translatedRecipes?.id, 'view' ]" >{{translatedRecipe.translatedRecipes?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/translated-recipe', translatedRecipe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/translated-recipe', translatedRecipe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'translated-recipe/'+ translatedRecipe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
