<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipe">
            <h2><span>Recipe</span> {{recipe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Serving Size</span></dt>
                <dd>
                    <span>{{recipe.servingSize}}</span>
                </dd>
                <dt><span>Instructions</span></dt>
                <dd>
                    <span>{{recipe.instructions}}</span>
                </dd>
                <dt><span>Original Language</span></dt>
                <dd>
                    <span>{{recipe.originalLanguage}}</span>
                </dd>
                <dt><span>User Details</span></dt>
                <dd>
                    <span *ngFor="let userDetails of recipe.userDetails; let last = last">
                        <a [routerLink]="['/user-details', userDetails?.id, 'view' ]">{{userDetails.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Ingredient</span></dt>
                <dd>
                    <span *ngFor="let ingredient of recipe.ingredients; let last = last">
                        <a [routerLink]="['/ingredient', ingredient?.id, 'view' ]">{{ingredient.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe', recipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
